---
title: "Form dropdowns"
layout: with-card
---

<form>
  <div class="row">
    <div class="col-xs-4">
      <div class="form dropdown">
        <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Dropdown</a>
        <ul class="form dropdown-menu" aria-labelledby="dLabel">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
        </ul>
      </div>
    </div>
  </div>
</form>
