---
title: "SAF - Sidebar/Content Layout"
layout: default
---

<nav class="navbar">
  <div class="global-nav">
    <div class="container center-block clearfix">

      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="/assets/img/saf_whitelogo.svg" class="logo" />
        </a>
      </div>

    </div>
  </div>
</nav>

<div role="main" class="container center-block">
  <div class="row">

    <div class="col-xs-4">
      <div class="card">
        Column 4 Content
      </div>
    </div>

    <div class="col-xs-8">
      <div class="card">
        Column 8 Content
      </div>
    </div>

  </div>
</div>