<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="//f.fontdeck.com/s/css/hTVw3hBVKroUSpZgLuO50Q6Vxqo/DOMAIN_NAME/61355.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/safx.min.css" type="text/css">
</head>
<body>