<script type="text/javascript" src="/assets/vendors/jquery/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/assets/vendors/bootstrap/javascripts/bootstrap.min.js"></script>

</body>
</html>