---
title: "Simple Info"
layout: with-card
---

<div class="row">
  <div class="col-xs-4">
    <div class="simple-info">
      <p class="info-label">Sponsor Commitment</p>
      <div class="info-description">
        <p>$50-100 million anticipated</p>
      </div>
    </div>

    <div class="simple-info">
      <p class="info-label">Sponsor Commitment</p>
      <div class="info-description">
        <p>$50-100 million anticipated</p>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="simple-info">
      <p class="info-label">Sponsor Commitment</p>
      <div class="info-description">
        <p>$50-100 million anticipated</p>
      </div>
    </div>

    <div class="simple-info">
      <p class="info-label">Sponsor Commitment</p>
      <div class="info-description">
        <p>$50-100 million anticipated</p>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="simple-info">
      <p class="info-label">Sponsor Commitment</p>
      <div class="info-description">
        <p>$50-100 million anticipated</p>
      </div>
    </div>

    <div class="simple-info">
      <p class="info-label">Sponsor Commitment</p>
      <div class="info-description">
        <p>$50-100 million anticipated</p>
        <p><a href="#">$50-100 million anticipated</a></p>
      </div>
    </div>
  </div>
</div>