---
title: "Footer"
layout: default
---

<footer>
  <div class="container center-block">
    <div class="row">
      <div class="col-xs-6 text-right">
        <small>© 2015 Strategic Alternative Funds Group, LLC. All Rights Reserved</small>
      </div>

      <div class="col-xs-6 text-left">
        <ul class="list-unstyled list-inline">
          <li>
            <a href="#" class="text-uppercase">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="text-uppercase">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>