// Base

body {
  padding: 30px;
  background-color: $grayscale-30;
  overflow-x: hidden;
}

// Non-responsive Bootstrap overrides
.container {
  min-width: 800px;
  max-width: 1200px;
  width: 100%;
} 