/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

body {
  overflow-x: hidden;
}

/* Reset the container */
.container {
  min-width: 800px;
  max-width: 1200px;
  width: 100%;
}