// Typography

// Headings
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

h1 {
  font-family: $font-family-off-white;
}

h2 {
  font-family: $font-family-white;
  line-height: 1.3;
}

h3 {
  font-family: $font-family-medium;
  text-transform: uppercase;
  letter-spacing: 2px;
}

// Body copy
p {
  margin-bottom: 30px;
}