// Typography

// Headings
h1,
h2,
h3 {
  margin-top: 0;
}

h1,
h2 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 10px;
}

h1 > small {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: $font-family-light;
  font-weight: $font-weight-light;
  color: rgba($grayscale-10, 0.40);
}

h1 {
  font-family: $font-family-off-white;
  font-weight: $font-weight-off-white;
}

h2 {
  font-family: $font-family-white;
  font-weight: $font-weight-white;
  line-height: (23px / $font-size-h2);
}

h3 {
  font-family: $font-family-medium;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  letter-spacing: 2px;
}

// Body copy
p {
  margin-bottom: 10px;
  font-weight: $font-weight-light;
  line-height: (20px / $font-size-base);

  &.subhead {
    max-width: 512px;
    @extend .text-secondary;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

small {
  display: inline-block;
}


// Utility Classes
.text-secondary {
  color: rgba($grayscale-10, 0.50);
}

.text-tertiary {
  color: $grayscale-20;
}