// LISTS
//-------------------

.selectable-list-menu {
  list-style: none;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;

  > li {
    position: relative;
    list-style: none;

    > a {
      display: block;
      position: relative;
      color: $grayscale-10;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 16px;
      padding-bottom: 16px;

      &:hover, &:focus {
        text-decoration: none;
      }

      &.selected:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: $primary-20;
      }
    }

    + li:before {
      content: '';
      position: absolute;
      top: 0;
      left: 30px;
      right: 30px;
      border-top: 1px solid $grayscale-30;
    }
  }
}