// Tables
%table-title {
  color: rgba($grayscale-10, 0.50);
  font-size: $font-size-small;
  font-family: $font-family-medium;
  font-weight: $font-weight-medium;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.table {
  @extend .table-striped;

  th:first-child,
  td:first-child {
    padding-left: 30px;
  }

  td:last-child {
    padding-right: 30px;
  }

  .table-title {
    @extend %table-title;
  }

  // Bootstrap override
  > tbody > tr > td {
    vertical-align: middle;
  }
}