---
title: "Tables"
layout: with-card
---

<table class="table table-hover">
  <thead>
    <tr>
      <th class="table-title">Label</label></th>
      <th class="table-title">Label</label></th>
      <th class="table-title">Label</label></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="table-title">Inception Date</td>
      <td>$1.9B</td>
      <td>$1.9B</td>
    </tr>
    <tr>
      <td class="table-title">Target Fund Size</td>
      <td>$9.75</td>
      <td>$9.75</td>
    </tr>
    <tr>
      <td class="table-title">Term</td>
      <td>7.18%</td>
      <td>7.17%</td>
    </tr>
    <tr>
      <td class="table-title">Capital Committed</td>
      <td>$9.75</td>
      <td>$9.75</td>
    </tr>
  </tbody>
</table>