---
title: "Toggles"
layout: with-card
---

<div class="card-sub-section">
  <a class="toggle" role="button">
    <div class="option">ticket</div>
    <div class="option">list</div>
  </a>
</div>

<div class="card-sub-section">
  <a class="toggle two-tone" role="button">
    <div class="option">on</div>
    <div class="option">off</div>
  </a>
</div>

<script type="text/javascript">
  $('.toggle').click(function(e) {
    $(this).toggleClass('toggled');
    return false;
  });

  $('.toggle').each(function(e) {
    var maxWidth = 0;
    $('.option', this).each(function(e) {
      var width = $(this).outerWidth();
      maxWidth = width > maxWidth ? width : maxWidth;
    });

    $(this).css('width', maxWidth * 2);
  });
</script>
