// Cards

.card {
  position: relative;
  padding: 30px;
  background-color: $true-white;

  &.pad {
    padding: 60px;
  }
}

.card-header {
  font-family: $font-family-medium;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: $true-white;
  text-align: center;
  font-size: $font-size-h3;

  &.primary-10 {
    background-color: $primary-10;
  }
}
