---
title: "Buttons - Small"
layout: default
---

<a href="#" role="button" class="btn btn-sm btn-default">Secondary</a>
<a href="#" role="button" class="btn btn-sm btn-primary">Generic</a>
<a href="#" role="button" class="btn btn-sm btn-success">Confirm</a>
<a href="#" role="button" class="btn btn-sm btn-danger">Warning</a>
<a href="#" role="button" class="btn btn-sm btn-primary">
  <span class="icon"><</span>
  With Icon
  <span class="icon">></span>
</a>
<a href="#" role="button" class="btn btn-sm btn-link">Link</a>
<a href="#" role="button" class="btn btn-sm btn-default" disabled>Disabled</a>