---
title: "Buttons"
layout: default
---

<a href="#" role="button" class="btn btn-default">Secondary</a>
<a href="#" role="button" class="btn btn-primary">Generic</a>
<a href="#" role="button" class="btn btn-success">Confirm</a>
<a href="#" role="button" class="btn btn-danger">Warning</a>
<a href="#" role="button" class="btn btn-primary">
  <span class="icon"><</span>
  With Icon
  <span class="icon">></span>
</a>
<a href="#" role="button" class="btn btn-link">Link</a>
<a href="#" role="button" class="btn btn-default" disabled>Disabled</a>
<a href="#" role="button" class="btn btn-primary btn-inverted">Inverted</a>