// RADIO BUTTONS
//-------------------

.radio {
  margin: 0;
  padding: 0;

  & + & {
    margin-top: 16px;
  }

  &.disabled [type="radio"] + label {
    color: rgba($grayscale-10, 0.20);
    &:before {
      border-color: rgba($grayscale-20, 0.50);
    }
  }

  [type="radio"] {
    display: none;
  }

  // Non-selected label
  [type="radio"] + label {
    position: relative;
    z-index: 1;
    padding-left: 28px;
    color: rgba($grayscale-10, 0.50);
    font-family: $font-family-light;
    font-weight: $font-weight-light;
    font-size: $font-size-base;
    letter-spacing: normal;
    text-transform: none;

    // Radio bounds
    &:before {
      position: absolute;
      z-index: 1;
      top: 2px;
      margin-left: -28px;
      width: 18px;
      height: 18px;
      border: 1px solid $grayscale-20;
      border-radius: 50%;
      content: '';
    }
  }

  // Hover state
  &:not(.disabled):hover [type="radio"] + label {
    color: $grayscale-10;
    &:before {
      border-color: $primary-20;
    }
  }

  // Selected label
  [type="radio"]:checked + label {
    color: $grayscale-10;
    &:before {
      border-color: transparent;
      background-color: $primary-20;
    }

    // Selected mark
    &:after {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 9px;
      margin-top: -5px;
      margin-left: -5px;
      width: 10px;
      height: 10px;
      background-color: $primary-30;
      border-radius: 50%;
      content: '';
    }
  }
}