---
title: "Checkboxes"
layout: default
---

<div class="card">

  <div class="checkbox">
    <input type="checkbox" id="checkbox-1" />
    <label for="checkbox-1">Checkbox One</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="checkbox-2" />
    <label for="checkbox-2">Checkbox Two</label>
  </div>
  <div class="checkbox disabled">
    <input type="checkbox" id="checkbox-disabled" disabled />
    <label for="checkbox-disabled">Checkbox Three is Disabled</label>
  </div>
</div>