---
title: "Radio Buttons"
layout: with-card
---

<form>
  <div class="radio">
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
    <label for="optionsRadios1">Option One</label>
  </div>
  <div class="radio">
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    <label for="optionsRadios2">Option Two</label>
  </div>
  <div class="radio disabled">
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
    <label for="optionsRadios3">Option Three is disabled</label>
  </div>
</form>