// Password Validation

.password-validation {
  color: rgba($grayscale-10, 0.30);
  font-size: $font-size-small;
  li {
    margin-top: 10px;
    &.is-valid {
      padding-left: 25px;
      color: $primary-50;
    }
  }
}