// Layout

// Main content
// Add vertical spacing between rows, but only decendents of the main div
// This allows for nested rows
[role="main"] > .row + .row {
  margin-top: 30px;
}

// Make grid columns and card max height (minus footer and header) of the window
.max-height {
  .card {
    min-height: calc(100vh - (72px + 87px + 60px)); // footer, header, padding
  }
}

// Non-responsive Bootstrap overrides
.container {
  position: relative;
  min-width: $min-width;
  max-width: $max-width;
  width: 100%;
}

// Isolated button that should be centered
.center-button {
  padding-top: 30px;
  text-align: center;
}

$evenly-spaced-columns: 1 2 3 4 6;

// Make fluid layout that does proper column wrapping
@each $col in $evenly-spaced-columns {
  .row.clear-after-every-#{$col} > [class*="col-"]:nth-child(#{$col}n + 1) {
    clear: both;
  }
}
