// Layout

// Main content
// Add vertical spacing between rows, but only decendents of the main div
// This allows for nested rows
[role="main"] > .row + .row {
  margin-top: 30px;
}

// Make grid columns and card max height (minus footer and header) of the window
.max-height {
  .card {
    min-height: calc(100vh - (72px + 87px + 60px)); // footer, header, padding
  }
}

// Non-responsive Bootstrap overrides
.container {
  min-width: 800px;
  max-width: 1200px;
  width: 100%;
}