// Buttons

// Base button
.btn {
  padding: 14px 26px 13px;
  min-width: 160px;
  font-family: $font-family-medium;
  font-size: $font-size-small;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $true-white;

  &:not([disabled]):hover {
    color: $true-white;
  }

  &:focus {
    background-color: $true-white;
  }

  &:active {
    color: $true-white;
    box-shadow: none;
  }

  & + & {
    margin-left: 60px;
  }
}

.btn-sm {
  padding: 7px 17px 6px;
  min-width: 110px;

  & + & {
    margin-left: 30px;
  }
}

// Secondary buttons
.btn-default:not([disabled]) {
  &:hover {
    border-color: $btn-default-color;
    background-color: $btn-default-color;
  }

  &:active,
  &:active:hover {
    color: $true-white;
    border-color: rgba($btn-default-color, 0.80);
    background-color: rgba($btn-default-color, 0.80);
  }
}

// Primary buttons
.btn-primary:not([disabled]) {
  &:hover {
    border-color: $btn-primary-color;
    background-color: $btn-primary-color;
  }

  &:active,
  &:active:hover {
    color: $true-white;
    border-color: rgba($btn-primary-color, 0.80);
    background-color: rgba($btn-primary-color, 0.80);
  }
}

// Confirm buttons
.btn-success:not([disabled]) {
  &:hover {
    border-color: $brand-success;
    background-color: $brand-success;
  }

  &:active,
  &:active:hover {
    color: $true-white;
    border-color: rgba($brand-success, 0.80);
    background-color: rgba($brand-success, 0.80);
  }
}

// Danger/Warning buttons
.btn-danger:not([disabled]) {
  &:hover {
    border-color: $brand-danger;
    background-color: $brand-danger;
  }

  &:active,
  &:active:hover {
    color: $true-white;
    border-color: rgba($brand-danger, 0.80);
    background-color: rgba($brand-danger, 0.80);
  }
}

// Link buttons
.btn-link:not([disabled]) {
  color: $grayscale-20;
  background-color: transparent;
  &:hover {
    color: $grayscale-10;
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }

  &:active,
  &:active:hover {
    color: $grayscale-20;
    text-decoration: none;
  }
}

// Disabled buttons
.btn[disabled] {
  @include opacity(0.50);
}

// INVERTED BUTTONS
// Inverted Primary Button
.btn-inverted.btn-primary {
  color: $true-white;
  background-color: $btn-primary-color;

  &:not([disabled]):hover {
    border-color: rgba($btn-primary-color, 0.80);
    background-color: rgba($btn-primary-color, 0.80);
  }

  &:not([disabled]):active,
  &:not([disabled]):active:hover {
    border-color: rgba($btn-primary-color, 0.60);
    background-color: rgba($btn-primary-color, 0.60);
  }
}