// Buttons
.btn {
  padding: 14px 22px 13px;
  font-family: $font-family-medium;
  font-size: $font-size-small;
  letter-spacing: 2px;
  text-transform: uppercase;
  &:not([disabled]):hover {
    color: $true-white;
  }

  &:active {
    box-shadow: none;
  }

  &.btn-sm {
    padding: 6px 16px;
  }

  &.btn-link {
    color: $grayscale-20;
  }
}

.btn-default:not([disabled]) {
  &:hover {
    border-color: $btn-default-color;
    background-color: $btn-default-color;
  }

  &:active,
  &:active:hover {
    border-color: rgba($btn-default-color, 0.80);
    background-color: rgba($btn-default-color, 0.80);
  }
}

.btn-primary:not([disabled]) {
  &:hover {
    border-color: $btn-primary-color;
    background-color: $btn-primary-color;
  }

  &:active,
  &:active:hover {
    border-color: rgba($btn-primary-color, 0.80);
    background-color: rgba($btn-primary-color, 0.80);
  }
}

.btn-success:not([disabled]) {
  &:hover {
    border-color: $brand-success;
    background-color: $brand-success;
  }

  &:active,
  &:active:hover {
    border-color: rgba($brand-success, 0.80);
    background-color: rgba($brand-success, 0.80);
  }
}

.btn-danger:not([disabled]) {
  &:hover {
    border-color: $brand-danger;
    background-color: $brand-danger;
  }

  &:active,
  &:active:hover {
    border-color: rgba($brand-danger, 0.80);
    background-color: rgba($brand-danger, 0.80);
  }
}

.btn-link:not([disabled]) {
  &:hover {
    color: $grayscale-10;
    text-decoration: none;
  }

  &:active,
  &:active:hover {
    color: $grayscale-20;
  }
}