---
title: "Buttons - Small"
layout: default
---

<a href="#" role="button" class="btn btn-sm btn-default">Default</a>
<a href="#" role="button" class="btn btn-sm btn-primary">Primary</a>
<a href="#" role="button" class="btn btn-sm btn-success">Success</a>
<a href="#" role="button" class="btn btn-sm btn-danger">Danger</a>
<a href="#" role="button" class="btn btn-sm btn-primary">
  <span class="icon"><</span>
  Primary with Icon
  <span class="icon">></span>
</a>
<a href="#" role="button" class="btn btn-sm btn-default" disabled>Disabled</a>