// Badges

.badge {
  position: relative;
  top: -1px;
  left: 3px;
  font-family: $font-family-light;
  font-weight: $font-weight-light;
}

// Badge in navigation
.nav-item > a:hover .badge {
  color: $navbar-default-link-hover-color;
}